# API Keys (Required to enable respective provider)
ANTHROPIC_API_KEY=your_anthropic_api_key_here       # Required: Format: sk-ant-api03-...
PERPLEXITY_API_KEY=your_perplexity_api_key_here     # Optional: Format: pplx-...
OPENAI_API_KEY=your_openai_api_key_here             # Optional, for OpenAI/OpenRouter models. Format: sk-proj-...
GOOGLE_API_KEY=your_google_api_key_here             # Optional, for Google Gemini models.
MISTRAL_API_KEY=your_mistral_key_here               # Optional, for Mistral AI models.
XAI_API_KEY=YOUR_XAI_KEY_HERE                       # Optional, for xAI AI models.
AZURE_OPENAI_API_KEY=your_azure_key_here            # Optional, for Azure OpenAI models (requires endpoint in .taskmasterconfig).
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_bG9naWNhbC1mbG91bmRlci0zMS5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_5CvImRH2YnjORLdqsFZfklqUsXx2H6eGWToK0wZeLg